<!DOCTYPE html>
<html>
	<head>	
	<title>Crossfit-heces</title>
	</head>
	
	<body>
		<form action="/login" method="post">
			E-mail: <input type="text" name="email"><br>
			Contrasenya: <input type="password" name="pass"><br>
			<input type="submit" value="OK">
		</form>
	</body>
<html>